* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    padding: 30px;
}

.main,
.main-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 530px;
    width: 490px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

img {
    width: 213px;
    height: 124px;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 24px;
    color: #111111;
    margin-top: 15px
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin: 10px 35px;
}

.form-group,
.footer-group1,
.footer-group2 {
    display: flex;
    flex-direction: row;
    margin: 10px 35px;
}

.form-group>div {
    display: flex;
    flex: 2;
    display: inline;
}

.form-group> :nth-child(2) {
    display: flex;
    flex: 1;
    display: inline;
    margin-left: 6px;
}

.phone-row,
.birthday-row {
    display: flex;
}

label {
    font-family: 'Nunito';
    font-size: 14px;
    text-align: left;
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    padding: 5px;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 15px 35px;
}

.footer-group1 {
    align-items: center;
}

::placeholder {
    height: 18px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  
    color: #767676;
}

#accept-label {
    font-weight: bold;
    text-shadow: #767676 1px 1px 2px;
}

.check {
    width: 20px;
    height: 36px;
    margin-right: 5px;
    filter: drop-shadow(2px 2px 2px #767676);
}

.button {
    width: 81px;
    height: 40px;
    background: #0DBDBD;
    border-radius: 10px;
    border: none;
    font-family: 'Nunito';
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.button:hover {
    background-color: #087a7a;
}

#title-success {
    margin-top: 30px;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 177px;
    background: #0DBDBD;
    border-radius: 10px;
    margin-top: 100px;
    border: none;
    font-family: 'Nunito';
    font-size: 36px;
    color: #FFFFFF;
    cursor: pointer;
}

.back-button:hover {
    background-color: #087a7a;
}

.main-success {
    display: none;
}

@media screen and (max-width: 650px) {
    body {
        background-color: white;
    }

    .main,
    .main-success {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 20px;
    }

    footer {
        flex-direction: column;
    }

    footer,
    .form-group,
    .form-control,
    .footer-group1,
    .footer-group2 {
        margin: 5px
    }

    .form-control {
        margin-top: 20px;
    }

    #form-group-responsive {
        flex-direction: column;
    }

    #form-group-responsive> :nth-child(2) {
        margin-left: 0px;
        margin-top: 10px;
    }

    .button {
        width: 100%;
        margin-top: 10px;
    }

    #title-form {
        margin-top: 15px;
    }

    .back-button {
        width: 327px;
        height: 75px;
        margin-top: 50px;
    }

    #labelBirthday {
        visibility: hidden;
    }

    #label-birthday:after {
        visibility: visible;
        content: 'Day';       
    }

   
}